h1{
    color:white;
    font-family: 'Poppins', sans-serif;
    padding:10px;
    text-align: center;
}

.plates{
    display: flex;
    justify-content: space-around;
    width:1400px;

}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

